
<div class="mange"  v-loading="loading"
      element-loading-text="数据导出中，请耐心等待......"
      element-loading-spinner="el-icon-loading"
      customClass='loading'
      element-loading-background="rgba(0, 0, 0, 0)">
    <div class="mange_top">
        <el-row>
            <el-col :span="12">
                    <el-date-picker
                    @change="changeDate"
                    class="date"
                    value-format="yyyy-MM-dd HH:mm:ss"
                    v-model="attendanceDate"
                    type="date"
                    placeholder="选择日期">
                 </el-date-picker>
            </el-col>
            <el-col align="right" :span="12">
                <form method='post' name="form" enctype='application/json'>
                  <button  class="import add_btn" @click='importAttendance'>
                      <img src="@/assets/images/1-1output.png">
                      <span>批量导出</span>
                  </button>
                </form>
            </el-col>
        </el-row>
    </div>
      <div class="table">
        <!-- 表格部分 -->
        <el-table
        :data="attendanceList"
        style="width: 100%">
        <el-table-column
        type="index"
        align="center"
        label="编号"
        width="80">
        </el-table-column>
        <el-table-column
          prop="personName"
          align="center"
          label="姓名">
        </el-table-column>
        <el-table-column
          prop="staffNumber"
          align="center"
          label="员工号">
        </el-table-column>
        <el-table-column
          prop="departmentName"
          align="center"
          label="部门">
        </el-table-column>
        <el-table-column
          prop="signStartTime"
          align="center"
          label="签到时间 ">
        </el-table-column>
        <el-table-column
          prop="signBackTime"
          align="center"
          label="签退时间">
        </el-table-column>
        <el-table-column
          prop="attendancePlace"
          align="center"
          label="考勤点位">
        </el-table-column>
        </el-table>

       <div class="footer">
          <!-- 分页部分 -->
          <el-pagination
          class="paginator"
          background
          layout="prev, pager, next"
          @current-change="getCurPage"
          :current-page.sync="curPage"
          :page-size="pageSize"
          :total="totalPage">
        </el-pagination>
       </div>

    </div>
</div>
