.el-form--label-top .el-form-item__label {
  padding: 0 0 5px;
}
.el-form-item--mini.el-form-item, .el-form-item--small.el-form-item {
  margin-bottom: 2px;
}
.el-dialog__body {
  padding: 31px 30px;
}
.el-tag {
  color: #fff;
  border: 0;
  padding: 0;
  background-color: #fff;
  border-radius: 50%;
}
.user_list {
  .el-input__inner {
    outline: none;
    border: 0;
    box-shadow: 0px 8px 20px 4px
    rgba(86, 97, 129, 0.08);
  }
  .el-upload-list{
    display: none;
  }
  .userlist_top {
    height: 41px;
      .search {
        cursor: pointer;
        display: inline-block;
        width: 60px;
        height: 40px;
        background-color: #4c83ff;
        position: relative;
        left: 5px;
        img {
          position: absolute;
          top: 9px;
          left: 18px;
        }
      }
      .import {
        width: 180px;
        height: 40px;
        background-color: #4c83ff;
        box-shadow: 0px 8px 20px 4px
          rgba(86, 97, 129, 0.08);
        border-radius: 20px;
        font-size: 16px;
        i {
          font-size: 18px;
        }
      }
  }
  .table {
    border-radius: 10px;
    overflow: hidden;
    margin-top: 25px;
    .footer {
      background-color: #fff;
      padding-top: 20px;
      height: 40px;
      .bulk {
        padding-left: 61px;
        float: left;
      }
      .paginator {
        float: right;

      }
    }
    tbody {
    }
    .has-gutter {
      th:first-child {
        border-right:3px solid #f6f6f7;
      }
    }
    .el-table__fixed-header-wrapper {
      tr {
        th:first-child {
          border-right:3px solid #f6f6f7;
        }
        th:last-child {
          border-left:3px solid #f6f6f7;
        }
      }
    }
    tr{
      td:first-child {
        border-right:3px solid #f6f6f7;
      }
      td:last-child {
        border-left:3px solid #f6f6f7;
      }
    }
    .el-table td {
      padding: 3px 0;
    }
  }
  .edit_table {
    display: flex;
  .editTable_left {
    position: relative;
    justify-content: space-around;
    width: 70px;
    height: 70px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
    .greenpass {
      width: 16px;
      height: 16px;
      position: absolute;
      right: -7px;
      bottom: 3px;
    }
  }
  .editTable_right {
    padding-top: 16px;
    margin-left: 40px;
    p {
       color: #8c94ac;
       font-size: 12px;
       margin-top: 6px;
    }
  }
  }
  .editTable_bottom {
    margin-top: 25px;
  }
  .cancle_btn {
    border: 0;
    color: #4f86ff;
  }
  .checkPic {
    position: relative;
    top: 3px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    color: #fff;
    overflow: hidden;
    display: inline-block;
  }
  .clickChecked {
    width: 48px;
    height: 48px;
    display: inline-block;
  }
  .clickChecked::before {
    content: '';
    width: 8px;
    height: 8px;
    background-color: #ffd34b;
    border-radius: 50%;
    position: absolute;
    top:22px;
    left: 25px;
  }
  .checkPic::after {
    content: "点 击 审 核";
    word-wrap: break-word;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    background-color:rgba(121, 134, 176, 0.8);
    position: absolute;
    top: 0;
    left: 0;
  }
  .checkPicStatus {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    color: #fff;
    overflow: hidden;
    display: inline-block;
    position: relative;
    top: 3px;
  }
  .anotherStatus {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    color: #fff;
    overflow: hidden;
    display: inline-block;
    position: relative;
    top: 3px;
    box-shadow: 0px 8px 20px 4px
		rgba(0, 0, 0, 0.08);
  }
  .checkPicaudit {
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    color: #fff;
    overflow: hidden;
    display: inline-block;
    top: 3px;
  }
  .checkPicaudit::after {
    content: "已 驳 回";
    letter-spacing: -1px;
    word-wrap: break-word;
    width: 48px;
    height: 48px;
    line-height: 48px;
    border-radius: 50%;
    overflow: hidden;
    background-color:rgba(121, 134, 176, 0.8);
    position: absolute;
    top: 0;
    left: 0;
  }
}
.popover_box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  .pic-box{
    width: 150px;
    height: 150px;
    background-color: #f5f6f7;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .statusFour {
    width: 150px;
    height: 150px;
    background-color: #f5f6f7;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .sepreate {
    .checkPicdiv {
      padding-left: 25px;
      .tip{
        button {
          display: block;
          font-size: 16px;
          padding: 0;
          margin-left:0;
          width: 110px;
          height: 30px;
          box-shadow: 0px 8px 20px 4px
            rgba(86, 97, 129, 0.08);
          border-radius: 18px;
          &.tip_turndown {
            margin-top: 10px;
            color: #4c83ff;
            border: 0;
          }
        }
      }
      .butt{
        display: inline-block;
        text-align: center;
        line-height: 36px;
        border-radius: 18px;
        background-color: #409EFF;
        color: #fff;
        position: relative;
        margin-bottom:10px;
        width: 140px;
        height: 36px;
        font-size: 14px;
        input {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0;
        }
      }
      .tipPic {
        font-size: 14px;
        color: #8c94ac;
      }
    }
  }
}
