<div class="user_list">
  <div class="userlist_top">
      <el-row>
          <el-col :span="5">
              <el-select class="select" :disabled="type!=1" @change="companyChange" :clearable="true" v-model="companyVal" placeholder="选择公司">
                  <el-option
                    v-for="item in company"
                    :key="item.companyId"
                    :label="item.attendanceAddressName"
                    size="small"
                    :value="item.companyId">
                  </el-option>
              </el-select>
          </el-col>
          <el-col :span="5">
              <el-select class="select" :clearable="true" v-model="departmentVal" placeholder="选择部门">
                  <el-option
                      v-for="item in department"
                      :key="item.departMentId"
                      :label="item.departmentName"
                      size="small"
                      :value="item.departMentId">
                  </el-option>
              </el-select>
          </el-col>
          <el-col :span="5">
              <el-select :clearable="true" class="select uploadPic" v-model="uploadpicVal" placeholder="选择照片">
                  <el-option
                      v-for="item in pictures"
                      :key="item.picId"
                      :label="item.label"
                      size="small"
                      :value="item.picId">
                  </el-option>
              </el-select>
          </el-col>
          <el-col :span="4">
              <el-input class="select"
                  placeholder="搜索员工姓名"
                  v-model="searchText">
                  <i slot="suffix" class="search" @click="filteSearch">
                    <img src="@/assets/images/1-1search.png">
                  </i>
          </el-input>
          </el-col>
          <el-col :span="4" :offset="1">
            <el-upload
              class="upload-demo"
              name="excelFile"
              :multiple="false"
              v-if="showBulkUpload"
              action="/itochuweb/importPersonExcel">
              <el-button class="import" size="small" icon="el-icon-upload2" type="primary">批量上传</el-button>
            </el-upload>
          </el-col>
      </el-row>
  </div>

    <div class="table">
      <!-- 表格部分 -->
      <el-table
      :data="listData"
      @selection-change="handleSelection"
      style="width: 100%">
      <el-table-column
      fixed
      align="center"
      type="selection"
      width="60">
      <template slot-scope="scope">
          <el-checkbox v-model="scope.row.checked" @change="changePassOrReject(scope.row)"  v-if='scope.row.auditStatus==1'></el-checkbox>
      </template>
      </el-table-column>
      <el-table-column
      align="center"
      type="index"
      label="编号"
      width="50">
      </el-table-column>
      <el-table-column
        align="center"
        width="160"
        label="照片">
        <template slot-scope="scope">
            <el-popover trigger="hover" placement="right" style="left: 249px;">
                <div class="popover_box">
                  <div class="pic-box">
                    <img class="pic" :src="scope.row.distinguishImgUrl"/>
                  </div>
                  <div class="sepreate">
                    <div class="checkPicdiv" v-if="scope.row.auditStatus==1">
                      <p class="tip">
                        <el-button type="primary" @click="operation(scope.row.personId, '2')">同意</el-button>
                        <el-button class="tip_turndown" @click="operation(scope.row.personId, '3')">驳回</el-button>
                      </p>
                    </div>
                    <div class="checkPicdiv " v-if="scope.row.auditStatus==2">
                        <el-button class="butt" type="primary" size="mini" round>
                          修改头像
                          <input type="file" accept="image/*" @change="amendUploadPic($event,scope.row.personId)">
                        </el-button>
                          <p class="tipPic">请上传正面未经ps照片</p>
                    </div>
                    <div class="checkPicdiv" v-if="scope.row.auditStatus==3">
                        <el-button class="butt" type="primary" size="mini" round>
                          修改头像
                          <input type="file" accept="image/*" @change="amendUploadPic($event,scope.row.personId)">
                        </el-button>
                          <p class="tipPic">请上传正面未经ps照片</p>
                    </div>
                    <div class="checkPicdiv" v-if="scope.row.auditStatus==4">
                        <el-button class="butt" type="primary" size="mini" round>
                          修改头像
                          <input type="file" accept="image/*" @change="amendUploadPic($event,scope.row.personId)">
                        </el-button>
                          <p class="tipPic">请上传正面未经ps照片</p>
                    </div>
                  </div>
                </div>

                  <div class="clickChecked" slot="reference" v-if="scope.row.auditStatus==1">
                    <div class="checkPic"><img style="width:100%;" :src="scope.row.distinguishImgUrl"/></div>
                  </div>
                  <div slot="reference" v-if="scope.row.auditStatus==2">
                      <div class="checkPicStatus"><img style="width:100%;" :src="scope.row.distinguishImgUrl"/></div>
                  </div>
                  <div class="reject" slot="reference" v-if="scope.row.auditStatus==3">
                      <div class="checkPicaudit"><img style="width:100%;" :src="scope.row.distinguishImgUrl"/></div>
                  </div>
                  <div slot="reference" v-if="scope.row.auditStatus==4">
                      <div class="checkPicStatus"><img style="width:100%;" src=""/></div>
                  </div>
              </el-popover>
        </template>
      </el-table-column>
      <el-table-column
        prop="personName"
        label="姓名"
        align="center"
        width="100">
      </el-table-column>
      <el-table-column
        prop="departmentName"
        label="部门"
        align="center"
        width="180">
      </el-table-column>
      <el-table-column
        prop="phone"
        label="手机号"
        align="center"
        width="160">
      </el-table-column>
      <el-table-column
        prop="staffNumber"
        width="100"
        align="center"
        label="工号">
      </el-table-column>
      <el-table-column
        prop="personalMail"
        align="center"
        label="个人邮箱">
      </el-table-column>
      <el-table-column
        prop="companyMail"
        align="center"
        label="公司邮箱">
      </el-table-column>
      <el-table-column
        prop="companyName"
        align="center"
        width="300"
        label="考勤地点">
      </el-table-column>
      <el-table-column
        fixed="right"
        align="center"
        width="100"
        label="操作">
        <template slot-scope="scope">
            <el-button type="text" size="small" @click="sendLink(scope.row.personId)">发送链接</el-button>
        </template>
      </el-table-column>
      </el-table>

     <div class="footer">
          <!-- 通过驳回按钮 -->
        <div class="bulk">
          <el-button size="mini" @click="bulkPass">审批通过</el-button>
          <el-button size="mini" @click="bulkReject">审批驳回</el-button>
        </div>
        <!-- 分页部分 -->
        <el-pagination
          class="paginator"
          background
          layout="prev, pager, next"
          @current-change="getCurPage"
          :current-page.sync="curPage"
          :page-size="pageSize"
          :total="totalPage">
        </el-pagination>
     </div>
    </div>
</div>
