<div class="access">
  <div class="access_top">
    <el-row>
      <el-col :span="12">
        <el-date-picker @change="changeDate" value-format="yyyy-MM-dd HH:mm:ss" class="date" v-model="accessDate" type="date"
          placeholder="选择日期">
        </el-date-picker>
      </el-col>
      <el-col align="right" :span="12">
        <el-button @click="importAccess" class="import add_btn" round>
          <img src="@/assets/images/1-1output.png">
          <span>批量导出</span>
        </el-button>
      </el-col>
    </el-row>
  </div>

  <div class="table">
    <!-- 表格部分 -->
    <el-table :data="accessList" style="width: 100%">
      <el-table-column type="index" label="编号" width="50">
      </el-table-column>
      <el-table-column prop="personName" label="姓名">
      </el-table-column>
      <el-table-column prop="staffNumber" label="员工号">
      </el-table-column>
      <el-table-column prop="departmentName" label="部门">
      </el-table-column>
      <el-table-column prop="accessDate" label="出入时间">
      </el-table-column>
      <el-table-column prop="accessPlace" label="出入地点">
      </el-table-column>
    </el-table>

    <div class="footer">
      <!-- 分页部分 -->
      <el-pagination class="paginator" background layout="prev, pager, next" @current-change="getCurPage"
        :current-page.sync="curPage" :page-size="pageSize" :total="totalPage">
      </el-pagination>
    </div>

  </div>
</div>
