<div class="right">
    <div class="right_top">
        <el-row>
            </el-col>
            <el-col align="right" :span="24">
                <el-button @click="adduser = true" class="import add_btn" round>
                    <i class="el-icon-plus"></i>
                    <span>添加管理员</span>
                </el-button>
            </el-col>
        </el-row>
    </div>


      <div class="table">
        <!-- 表格部分 -->
        <el-table
        :data="listData"
        style="width: 100%">
        <el-table-column
        type="index"
        label="编号"
        width="50">
        </el-table-column>
        <!-- <el-table-column
          label="照片">
          <template slot-scope="scope">
              <el-popover trigger="hover" placement="left">
                <div class="popover_box">
                  <div style="width: 60px; height: 60px; margin: 0 auto;"><img style="width: 100%; height: 100%;  border-radius: 50%; "  src="@/assets/images/logo.png"></div>
                  <el-button style="margin-left: 34px; margin-top: 5px;" type="primary" size="mini" round>修改头像</el-button>
                  <p style="color: #8c94ac; margin-top: 5px;font-size: 12px;margin-left: 19px;">请上传正面未经ps照片</p>
                </div>
                <div slot="reference" class="name-wrapper">
                  <el-tag size="medium">{{ scope.row.name }}</el-tag>
                </div>
              </el-popover>
            </template>
        </el-table-column> -->
        <el-table-column
          prop="address"
          label="姓名">
        </el-table-column>
        <el-table-column
          prop="address"
          label="邮箱">
        </el-table-column>
        <el-table-column
          prop="address"
          label="手机号">
        </el-table-column>
        <el-table-column
          prop="address"
          label="账号 ">
        </el-table-column>
        <el-table-column
          prop="address"
          label="密码">
        </el-table-column>
        <el-table-column
          prop="address"
          label="归属地">
        </el-table-column>
        <el-table-column
          fixed="right"
          label="操作">
          <template slot-scope="scope">
              <el-button type="text" size="small">修改</el-button>
              <el-button type="text" size="small" @click="editInfo = true">删除</el-button>
          </template>
        </el-table-column>
        </el-table>
        <!-- 点击修改按钮出现的弹出框 -->
        <el-dialog
                title="修改管理员信息"
                :visible.sync="editInfo"
                width="30%"
                :before-close="handleClose">
                <div class="editTable_bottom">
                    <el-form :model="formInline" size="mini" label-position="top">
                        <el-row>
                            <el-col :span="13">
                                <el-form-item label="姓名">
                                    <el-input class="special" v-model="formInline.user"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="11">
                                <el-form-item label="邮箱">
                                    <el-input class="special" v-model="formInline.user"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="13">
                                <el-form-item label="手机号">
                                    <el-input class="special" v-model="formInline.user"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="11">
                                <el-form-item label="归属地">
                                    <el-input class="special" v-model="formInline.user"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="13">
                                <el-form-item label="账号">
                                    <el-input class="special" v-model="formInline.user"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="11">
                                <el-form-item label="密码">
                                    <el-input class="special" v-model="formInline.user"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                      </el-form>
                </div>
                <span slot="footer" class="dialog-footer">
                  <el-button class="cancle_btn" @click="editInfo = false" size="mini" round>取 消</el-button>
                  <el-button type="primary" @click="editInfo = false" size="mini" round>修 改</el-button>
                </span>
        </el-dialog>

        <!-- 点击添加成员按钮出现的弹出框  -->
        <el-dialog
        title="添加管理员"
        :visible.sync="adduser"
        width="30%"
        :before-close="handleClose">
        <div class="editTable_bottom">
            <el-form :model="formInline" size="mini" label-position="top">
                <el-row>
                    <el-col :span="13">
                        <el-form-item label="姓名">
                            <el-input class="special" placeholder="请填写姓名" v-model="formInline.user"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="11">
                        <el-form-item label="邮箱">
                            <el-input class="special" placeholder="请填写员工号" v-model="formInline.user"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="13">
                        <el-form-item label="手机号">
                            <el-input class="special" placeholder="请填写考勤地点"  v-model="formInline.user"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="11">
                        <el-form-item label="归属地">
                            <el-input class="special" placeholder="请填写手机号"  v-model="formInline.user"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="13">
                        <el-form-item label="账号">
                            <el-input class="special" placeholder="请填写公司名" v-model="formInline.user"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="11">
                        <el-form-item label="密码">
                            <el-input class="special" placeholder="请填写部门" v-model="formInline.user"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
              </el-form>
        </div>
        <span slot="footer" class="dialog-footer">
          <el-button class="cancle_btn" @click="editInfo = false" size="mini" round>取 消</el-button>
          <el-button type="primary" @click="editInfo = false" size="mini" round>添 加</el-button>
        </span>
        </el-dialog>

       <div class="footer">
            <!-- 通过驳回按钮 -->
          <!-- <div style="margin-top: 20px; float: left; padding-left: 40px;">
            <el-button size="mini">审批通过</el-button>
            <el-button size="mini">审批驳回</el-button>
          </div> -->
          <!-- 分页部分 -->
          <el-pagination class="paginator"
            small
            layout="prev, pager, next"
            :total="50">
          </el-pagination>
       </div>

    </div>
  </div>
